.page__section--1 {
    position: relative;
    z-index: 9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font1;
    color: $color1;
}

.area-padding {
    padding: 90px 0px;
}

.page__section {
    padding: 80px 0;
}
#section__4 {

    h4 {
        color: #fff;
    }
}
#section__1 {
    background: $color3;
}

#section__intro {
    background: $color7;
    border-bottom: 10px solid #e4e4e4;
    h3 {
        color:#fff;
    }
}
#section__2 {
    background: $color7;
    border-bottom: 10px solid #e4e4e4;
    border-top: 10px solid #e4e4e4;    
    h3 {
        color: #fff;
    }
    p {
        color: #fff;
    }
}
.overlay__shadow--2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(103, 0, 1, 0.85);
    width: 100%;
    height: 100%;
}
#section__testimonial {
    background: $color7;
    .main__title--2 {
        color: #fff;
    }
    .title__description {
        color: #fff;
    }
    span.main__title--underline--2.center {
        background: $color3;
        width: 60px;
        height: 4px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
.main__title--1 {
    font-weight: 600;
    line-height: 34px;
    font-size: 1.8em;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;

    &:after {
        content: "";
        position: absolute;
        background: $color2;
        bottom: 0;
        left: 0;
        width: 60px;
        height: 5px;
    }
}

p {
    font-size: 14px;
    color: #666;
}

.shadow__1 {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    &:hover {
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 15px 30px;
}

.is__dark {
    background: #212121;
    color: #fff;

    &:hover {
        color: #fff;
        background: #363535;
    }
}
.btn {

    &:hover {
        -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    }
}
.btn__is--red--outline {
    background: #fff;
    color: $color6;
    border: 2px solid $color6;

    &:hover {
        background: rgba(103, 0, 1, 0.85);
        color: #fff;
        border: 2px solid rgba(103, 0, 1, 0.85);
    }
}
.btn__is--red {
    background: rgba(103, 0, 1, 0.85);
    color: #fff;
    border: 2px solid rgba(103, 0, 1, 0.85);
    &:hover {
        color: #fff;
        background: rgba(134, 4, 6, 0.85);
    }
}

.page__section--1 {
    padding: 40px 0;



    p {
        font-size: .9em;
        color: $color3;
    }
}


.page__section--3 {
    .nav-tabs--vertical {
        .nav-link {
            padding: 20px 5px !important;
            transition: 0.2s;
            color: rgba(255, 255, 255, 0.84);
            color: #666;
            font-size: 12px;
            font-weight: 700;
            padding: 22px 0px;
            text-transform: none;
            font-family: $font1;
            margin: 0px 15px;
            position: relative;
            transition: 0.2s;
            transition: all 0.2s ease-in-out;
        }

        i {
            margin-right: 5px;
        }
    }

    .tab-content {
        min-height: 280px;

        h3 {
            position: relative;
            padding-bottom: 15px;

        }

        p {
            font-size: .9em;
        }
    }
}
#section__intro--2 {
    h1 {
        font-size: 1.8em;
        font-weight: 700;
    }
    p.display__1 {
        font-size: 1.2em;
        font-weight: 400;
        font-family: $font1;
    }
    .intro__item {
        h4 {
            font-size: 1.1em;
            font-weight: 600;
            position: relative;
        }
        span {
            margin-bottom: 20px;
            color: $color7;
        }
    }
}
.title__description {
    font-family: $font1;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8em;
    color: $color2;
}
.main__title--2 {
    position: relative;
    font-size: 1.8em;
    font-weight: 600;
    padding-bottom: 10px;

}
.at-funfact-wrap {
    background-color: #e27e08; 
    padding: 40px 15px; 
    text-align: center;
}

.at-funfact-wrap .at-funfact { padding: 0;}

.at-funfact {
  display:inline-block;
  position:relative;
  padding: 20px 0;
  text-align: center;
}

.at-funfact-wrap .at-funfact .funfact-number {
  display: block;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 15px;
  font-size: 60px;
  color: #fff;
}
.at-funfact-wrap .at-funfact .funfact-number-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  color: #fff;
}
.page__section--4 {
    p {
        color: #fff;
        font-size: 1.2em;
    }
    p.card-text {
        color: #666;
    }
}
.counter {
    h2 {
        font-size: 2em;
        color: $color3;
        font-weight: 600;
    }
    p {
        font-size: 1.4em;
        color: $color3;
        font-weight: 400;
    }
}
.main__title--3 {
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    padding-bottom: 10px;

}
.main__title--wrapper--2 {
    margin-bottom: 45px;
}
span.main__title--underline--1 {
    background: rgb(233, 233, 233);
    width: 40%;
    height: 2px;
    position: absolute;
    margin-top: 1px;    
}
span.main__title--underline--2.left {
    background: rgba(255, 160, 0, 0.95);
    width: 60px;
    height: 4px;
    position: absolute;
}
span.main__title--underline--1.center {
    background: #dedede;
    width: 20%;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 1px;
}
span.main__title--underline--2.center {
    background: rgba(255, 160, 0, 0.95);
    width: 60px;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.page__section--cta {
    h2.main__title--2 {
    color: #fff;
    }
    .title__description {
        color: #dadada;
    }
}



.boxes {
    position:relative;
    margin:0 auto;
    
    .intro__item {
      display:block;
      float:left;
      position:relative;
      width:100%;
      text-align: center;
      border-collapse:collapse;
      text-decoration:none;
      color:#fff;
      overflow: hidden;
      
      h3{
        transition: all 0.5s;  
        padding-top:50px; 
        padding-bottom:60px; margin:0;
        font-size:2em;
        text-transform:uppercase;
      }
      
      i {
        transition: all 0.4s;  
        font-size:4em;
      }
      
      p{
        transition: all 0.5s;  
      }
      
      &:before{
        transition: all 0.4s;  
        position:absolute;
        content:"";
        width:100%;
        height:50%;
        left:50%;
        margin-left:-50%;
        top:25%;
        border-color:rgba(200,200,200,0);
        border-style:solid;
        border-width:0 1px;
      }
      
      &:after{
        transition: all 0.4s;  
        position:absolute;
        content:"";
        width:50%;
        height:100%;
        left:50%;
        margin-left:-25%;
        top:0;
        border-color:rgba(200,200,200,0);
        border-style:solid;
        border-width:1px 0;
      }
      
      &:hover{
        
        &:after{
          width:402px;
          margin-left:-50%;
          border-color:$color6;
        }
        
        &:before{
          height:352px;
          top:0%;
          border-color:$color6;
        }
      }
    }
  }
  